@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 16px 16px;
}
.chat-container::-webkit-scrollbar {
  width: 6px;
}
.chat-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.chat-container::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 3px;
}
.chat-container::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}