@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in-fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-message {
  animation: slide-in-fade-in 0.4s ease-out forwards;
}


body {
  @apply bg-gray-200 dark:bg-black;
}

.chat-container::-webkit-scrollbar {
  width: 6px;
}
.chat-container::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-gray-800;
}
.chat-container::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-gray-600;
  border-radius: 3px;
}
.chat-container::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 dark:bg-gray-500;
}